<div class="card card-primary">
  <div class="card-heading">Add {{type}} for {{category}}
        <fa-icon [icon]="faPlus" (click)="showAddType()"></fa-icon>
  </div>
  <div class="card-body">
    <!-- <h4 class="card-title">Card title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <div *ngIf="addType">
      <form class="form-inline">
        <textarea ngModel name="typeText" #typeText class="form-control" rows="3" cols="400" id="typeId" placeholder="Add {{type}}s here "
          (keyup.enter)="addData(typeText.value,category)"></textarea>
      </form>
    </div>


    <br>

    <div *ngFor="let t of (typeList |async);index as i">
      <div *ngIf="!t.status">
        <crud-card-li [typeText]="t" [typeIndex]="i+1" [types]="types"></crud-card-li>
      </div>
    </div>
   
   <div style="float: right;">
        <fa-icon *ngIf="showTrophy1()" [icon]="faTrophy" style="color: gold;" size="1x"></fa-icon>
        <fa-icon *ngIf="showTrophy2()" [icon]="faTrophy" style="color: gold;" size="2x"></fa-icon>
        <fa-icon *ngIf="showTrophy3()" [icon]="faTrophy" style="color: gold;" size="3x"></fa-icon>
        <fa-icon *ngIf="showTrophy4()" [icon]="faTrophy" style="color: gold;" size="4x"></fa-icon>
        <fa-icon *ngIf="showTrophy5()" [icon]="faTrophy" style="color: gold;" size="5x"></fa-icon>
    </div>
    <h4> Completed tasks : {{completedTasks}}/{{totalTasks}}</h4>
    <h4> Pending tasks : {{totalTasks-completedTasks}}/{{totalTasks}}</h4>

  </div>