<div class="card-group">
    <balance-card [category]="'Jhansi'"></balance-card>
    <balance-card [category]="'Fidelity'"></balance-card>
    <balance-card [category]="'Trade'"></balance-card>
 
</div>
<div class="card-group">
    
    <div class="card" style="max-width: 96rem;">
        
        <div class="card-body">
          <h5 class="card-title">Marraige</h5>
          <p class="card-text">To accomplish above and getting married soon happily ever after .</p>
            <crud-card [category]="'Marraige'" [type]="'Todo'" [types]="'todos'"></crud-card>
        </div>
      </div>
     
</div>
