<mat-tab-group>

  <mat-tab label="Gratitude">
    <div class="page-header">
      <div class="row text-center" style="background-color: forestgreen;border-color: forestgreen">
        <div class="col-sm-3 ">

          <div>
            <button class="btn btn-primary" style="background-color: forestgreen;border-color: forestgreen" (click)="showListYday()">
              Yesterady's List
              <img src="assets/greatful.jpg">
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <br>
          <br>
          <h1 style="color:white">Thank you Thank you Thank you</h1>
          <br>
          <br>
          <p style="color:white">Enter ten things you are grateful for today </p>
          <div class="progress" *ngIf="showToday">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
              [ngStyle]="{'width.%':competionPercentage}">
              {{ competionPercentage}}% Complete (success)
            </div>
          </div>
        </div>
        <div class="col-sm-3">

          <div>
            <button class="btn btn-primary" style="background-color: forestgreen;border-color: forestgreen" (click)="showListToday()">Todays's List
              <img src="assets/greatful.jpg">
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <br>

      <div class="row">

        <div class="col-sm-2" style="float: left">

        </div>

        <div class="col-sm-8" style="float: left">



          <div class="form-group" *ngIf="showToday">
            <form class="form-inline">
              <textarea ngModel name="comments" #comments class="form-control" rows="3" cols="400" id="grateful" placeholder="what are you greatful for ?"
                (keyup.enter)=addGratitude(comments.value,comments)></textarea>
            </form>
          </div>



          <!-- <div  *ngFor="let g of gList" >
                    <comment-component [showToday]="showToday" 
                    [today]="today" [gratitudeComment]="g[0]" [iIndex]="iIndex"
                    (oIndex)="displayCounter($event)"></comment-component> -->

          <div *ngIf="showToday">

            <comment-component *ngFor="let g of (gList|async)  ;index as i" [commentIndex]="i+1" [gratitudeComment]="g">
            </comment-component>

            <!-- {{gList|async | json}} -->
            <!-- <div *ngFor="let g of (gList|async)   ">
                              {{g['key']  }}
                              {{g['payload'] }}
                            <a [routerLink]="['/thanks/',g['key']]">Edit</a>
                            
                        </div>    -->


          </div>

          <div *ngIf="showYday">
            <div *ngFor="let g of (gList|async)" class="alert alert-info">
              {{g.content}} - Thank you.Thank you.Thank you.
            </div>
          </div>

          <!-- <app-mat-test></app-mat-test> -->


        </div>
        <div class="col-sm-2" style="float: right">

        </div>
      </div>


    </div>
    <router-outlet></router-outlet>

  </mat-tab>
  <mat-tab label="Achievements">
    <achievements></achievements>
    <!-- <whishes></whishes> -->
  </mat-tab>
  <mat-tab label="Affirmations">
    <affirmation-main></affirmation-main>
  </mat-tab>
  <mat-tab label="Balance">
   <balance></balance>
  </mat-tab>
  <mat-tab label="TradeDecision">
    <trade-decision></trade-decision>
  </mat-tab>
  <mat-tab label="CLimits">
       <climits></climits>
    </mat-tab>
    <mat-tab label="JPlan">
        <jplan></jplan>
    </mat-tab>
    <mat-tab label="Decision">
        <decision></decision>
    </mat-tab>

    <mat-tab label="FocusAreas">
        <focus-areas></focus-areas>
    </mat-tab>
    <mat-tab label="Goals">
        <goals></goals>
    </mat-tab>

    <mat-tab label="Habits">
        <habits></habits>
    </mat-tab>

    <!--
    <mat-tab label="FocusProjects">
        <focus-projects></focus-projects>
    </mat-tab>
    <mat-tab label="MiniProjects">
        <mini-projects></mini-projects>
    </mat-tab>


 
    <mat-tab label="Wishes">
        <wishes></wishes>
    </mat-tab>
    <mat-tab label="Desires">
        <desires></desires>
    </mat-tab>
    <mat-tab label="Gifts">
        <gifts></gifts>
    </mat-tab>
   
  -->

 
    
  <mat-tab-group>