<!-- <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        {{category}}
    </div> -->

    <div class="card" style="max-width: 30rem;">
         
        <div class="card-body">
            
          <!-- <h5 class="card-title">Achieve {{category}}</h5> -->
          <!-- <p class="card-text"> To Bring balance to {{category}} so that I can reach my main obejective which is below .</p> -->
              
            <crud-card [category]="category" [type]="'Todo'" [types]="'todos'"></crud-card>
        </div>
      </div>